.hero {
    display: flex;
    position: relative;
    text-align: center;
    padding-top: 40px;
    z-index: 1;
    height: 80vh;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: mix(color(primary, 1), color(primary, 2));
        background: url('../images/head.jpg') no-repeat center;
    }
}

.hero-inner {
  display: flex;
  position: relative;
}

.hero-copy {
    margin: auto;
}

.hero-title {
    @include font-weight(bold);
    margin-bottom: 2rem;
}

.hero-paragraph {
    margin-bottom: 0;
}

.hero-action-form-container {
    position: absolute;
    bottom: -2rem;
    width: 100%;

    .hero-action-form {
        background: #fff;
        border-radius: 1rem;
        box-shadow: 0 8px 16px rgba(color(typography, 1i), .12);
        display: inline-flex;
        margin: auto;
        padding: 1.2rem 1.6rem;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 90%;

        p {
            color: color(typography,2i);
            padding: 0 .8rem;
            margin: 8px;
            width: 100%;
        }
    }
}

@include media( '>medium' ) {

    .hero {
        padding-top: 92px;
        padding-bottom: 80px;
    }

    .hero-action-form-container .hero-action-form p {
        margin: 0;
        width: 50%;
    }
}

@include media( '>large' ) {

    .hero {
        height: 90vh;
    }
}
