.services {
    padding: 3rem 0;

    .section-title {
        color: color(typography,1i);
        margin-bottom: 16px;
    }
    .section-description {
        color: color(typography,2i);
        margin: auto auto 48px;
        width: 70%
    }
}

.services-wrap {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    margin-right: -12px;
    margin-left: -12px;

    &:first-child {
        margin-top: -12px;
    }

    &:last-child {
        margin-bottom: -12px;
    }
}

.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 3rem 12px;
}

.service-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // height: 100%;
    background: color(bg, 1);
    color: color(typography,2i);
    padding: 40px 24px;
    width: 100%;

    .service-content-inner {
        display: block;
        margin: auto;
    }
}

.service-reverse {
  flex-direction: row-reverse;
}

.service-picture {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    max-height: 50vh;
    @include shadow;

    img {
      display: block;
      height: auto;
      max-height: 350px;
      max-width: 100%;
    }
}

.service-title {
    color: color(typography,1i);
    margin-top: 12px;
    margin-bottom: 8px;
}

@include media( '>medium' ) {

    .services {
        position: relative;

        .section-square {
            position: absolute;
            top: 0;
            left: 0;
            height: 240px;
            width: 44%;
            background: color(bg, 2);
        }

        .service-content {
            width: 50%;
        }

        .section-title {
            margin-bottom: 24px;
        }

        .service-picture {
            display: flex;
            justify-content: center;
            width: 50%;
        }
    }
}
